.menu {
    display:flex;
    justify-content: space-between;
    padding: 65px 0;
}

.menu .resources {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75vw;
}

.menu .resources a {
    font-size: 30px;
    
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    
    margin: 0 15px;
}

.menu .action {
    font-size: 25px;
    background-color: red;
    border-radius: 3px;
    
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;

    padding: 5px 30px;
    margin: 0 0 0 25px;
}